<h1>Información</h1>


<mat-tab-group animationDuration="0ms">
  <mat-tab label="Autor">
    <div class="tab-content autor">
        Desarrollada por Juan Arana Olalde con Angular  17.3.7.
    </div>
    

  </mat-tab>
  <mat-tab label="Contenido del curso">
    <div class="tab-content contenido">
        <ul>
            <li>Instalación
                <ul>
                    <li>Requisitos previos</li>
                    <li>Instalación de Node.js y npm</li>
                    <li>Instalación de Angular CLI</li>
                </ul>
            </li>
            <li>Componentes
                <ul>
                    <li>Creación de componentes</li>
                    <li>Decoradores de componentes</li>
                    <li>Plantillas y estilos</li>
                    <li>Comunicación entre componentes</li>
                </ul>
            </li>
            <li>Servicios y HTTP
                <ul>
                    <li>Introducción a servicios</li>
                    <li>Creación de servicios</li>
                    <li>Inyección de dependencias</li>
                    <li>Consumo de APIs REST</li>
                    <li>Uso de HttpClient</li>
                </ul>
            </li>
            <li>Angular CLI
                <ul>
                    <li>Comandos básicos</li>
                    <li>Generación de proyectos y componentes</li>
                    <li>Construcción y despliegue</li>
                </ul>
            </li>
            <li>Promesas y Observables
                <ul>
                    <li>Introducción a Promesas</li>
                    <li>Introducción a Observables</li>
                    <li>Uso de RxJS</li>
                    <li>Operadores comunes en RxJS</li>
                </ul>
            </li>
            <li>Deploy de la aplicación
                <ul>
                    <li>build</li>
                    <li>Firebase deploy</li>                    
                </ul>
            </li>
        </ul>
    </div>
    

  </mat-tab>
  <mat-tab label="Descripción de la aplicacion">
    <div class="tab-content desc">
        <p>Es un proyecto para ver como crear la estructura de una 
            aplicacion reactiva en Angular con un logueo que se autentica contra un API Rest
            que nos proporciona un token de acceso.</p>
            <p>
            HAcemos un routing securizado de distintas 
            páginas en las que podemos ver como pasar información entre componentes.</p>
            <p>La aplicación hace uso de servicios y peticiones HTTP para el login o para 
            obtener respuestas JSON y tratar la info por pantalla.</p>
            <p>Se hace uso de PIPE, para definir componentes genéricos
            control de errores, validacion de formularios, componentes de Angular material...</p>
            
         
    </div>
    </mat-tab>
</mat-tab-group>
    

<!--h3>Very slow animation</h3>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group-->