//JAO estilos
.urgent-Task {
    color:rgb(192, 33, 6);
  }
.blockin-Task {
  color:purple;
}
.info-Task {
  color:rgb(15, 76, 219);
}
.completed-Task {
  background-color: aliceblue;
}
.msg-enhorabuena{
  color:green;
  font-weight: bold;

}
.msg-trabajar{
  color:tomato;
  font-weight: bold;
  
}
  