<form [formGroup]="miFormularioArray">
    <h3>Datos en vivo del formulario</h3>
    <p>{{miFormularioArray.value | json}}</p>
    <!-- Campos de nombre y apellidos-->
    <input placeholder="Nombre" formControlName="nombre">
    <input placeholder="Apellidos" formControlName="apellidos">
    <!--Array con agrupaciones de telefonos-->
    <div formArrayName="telefonos">
        <!--iteramos por cada uno de los telefonos de la lista-->
        <div *ngFor="let telefono of telefonosFormulario.controls; 
                let i =index" [formGroupName]="i">
            <h5>Teléfono - {{i}}</h5>
            <input placeholder="Prefijo" formControlName="prefijo">
            <input placeholder="Numero" formControlName="numero">
            <button (click)="eleminarTelefonos(i)">Borrar</button>
        </div>    
    </div>
    <!--Boton para añadir telefono-->
    <button (click)="anadirTelefonos()">Añadir un nuervo tlf</button>

    
</form>
