<!--Bloques de directiva de ATRIBUTO-->
<!--================================-->
<h1>directiva de ATRIBUTO</h1>
<p [ngStyle] ="{color: 'tomato', fontWeight: 'bolder' }">lista-basica de elementos!</p>
<p [ngClass]="['underline']" >Aquí vamos a a iterar una lista y mostrar varios elementos</p>
<p [ngClass]="['underline','big']">aun no tienes elementos</p>
<p [ngClass]="{underlined:false, small:true}">Te recomendamos crear un elemento</p>

<!--Bloque de directivas ESTRUCTURALES-->
<!--===================================-->
<h1>directivas ESTRUCTURALES</h1>
<!--p *ngIf="cargando">
    Cargando...
</p-->
<button (click)="cambiarCargando()">
    {{cargando ? 'Termina cargando' : 'Iniciar Carga'}}
</button>

<ng-container *ngIf="!cargando; else templateEspera">
    <p>Todo listo</p>
</ng-container>

<ng-template #templateEspera>
    <p>Cargando...</p>
    <p>Espere a que termine el proceso</p>
</ng-template>

<!--Bloque de NGFOR-->
<!--===============-->
<!--iteramos la lista de Elementos que contiene productos con propiedades-->
<!--con even miramos si es par o impar para poner colores-->
<div *ngFor="let producto of listaElementos; let i=index; let even = even">
    <div [ngStyle]="even? {backgroundColor: 'blue', color :'white', fontWeight:'bold'}:{backgroundColor: 'red', color :'white', fontWeight:'bold'}" class="producto">
        <p>ID:{{i+1}}</p>
        <p>{{producto.nombre}} - {{producto.precio}} </p>
        <p>- {{producto.descripcion}}</p>
    </div>
    
</div>
<!--Bloque para entender ngSwitch-->
<div [ngSwitch]="opcion">
    <p [id]="1" *ngSwitchCase="1">Opcion 1</p>
    <p [id]="2" *ngSwitchCase="2">Opcion 2</p>
    <p [id]="3" *ngSwitchCase="3">Opcion 3</p>
    <p *ngSwitchDefault class="cerrar">Ninguna de las opciones es básica</p>    
</div>
<!--Seleccionamos la opcion-->
<div>
    <input value="Opcion 1" type="radio" name="opcion" (click)="escogerOpcion(1)">
    <input value="Opcion 2" type="radio" name="opcion" (click)="escogerOpcion(2)">
    <input value="Opcion 3" type="radio" name="opcion" (click)="escogerOpcion(3)">
    <input value="Opcion 4" type="radio" name="opcion" (click)="escogerOpcion(4)">
</div>
<div>
    <h1>Productos superiores +30</h1>
    <div *ngFor="let producto of listaElementos; let i=index; let even = even">
        <div *ngIf="producto.precio>30" [ngStyle]="even? {backgroundColor: 'blue', color :'white', fontWeight:'bold'}:{backgroundColor: 'red', color :'white', fontWeight:'bold'}" class="producto">
            <p>ID:{{i+1}}</p>
            <p>{{producto.nombre}} --> {{producto.precio}} </p>
            <p>- {{producto.descripcion}}</p>
        </div>
        
    </div>

</div>

