<h1>home-page </h1>
<h3>Bienvenido!!</h3>
<ng-container *ngIf="contactoSeleccionado" elseNoSeleccionado>
    Contacto Seleccionado  {{contactoSeleccionado.name.first}}
</ng-container>
<ng-template #elseNoSeleccionado>
    <div>
        <p> Selecciona tu jugador preferido</p>
    </div>
</ng-template>

<div>
    <!--hacer un login-->
    <a *ngIf="!token" routerLink="/login">Iniciar sesion</a>
    <!-- Listar los contactos-->
    <button mat-raised-button color="primary" (click)="navegarAContacts()">Ver contactos</button>
</div>
    <br><br>
    <!--Ejemplo QueryParams-->
    <div>
        <p>Filtros</p><br><br>
        <a [routerLink]="['/contacts']" [queryParams]="{sexo:'male'}">
            Jugadores Athletik
        </a>
        <br><br>
        <a [routerLink]="['/contacts']" [queryParams]="{sexo:'female'}">
            Jugadoras Athletik
        </a>
    </div>



