


<main class="main">
  <div class="content">
    <div class="left-side">
      
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider">
      <!--input para trabajar con el ngModel-->
      <input type="text" placeholder="Nombre del usuario" [(ngModel)]="usuario">
      <app-saludo [nombre]="usuario" (mesajeEmitter)="recibirMensajeHijo($event)"></app-saludo>
      <app-saludo (mesajeEmitter)="recibirMensajeHijo($event)"></app-saludo>
      <!--br>
      [nombre]="usuario"<br>
      <app-saludo [nombre]="usuario"></app-saludo>
      nombre="Guillermo"<br>
      <app-saludo nombre="Guillermo"></app-saludo-->
      
      

    </div>
    
  </div>
</main>


<router-outlet />
